<div class="form">
<%= form_with(model: @profile, local: true, url: profile_path) do |form| %>

  
  <label class="upload_label"> File Select
    <span class="upload_image"><%= form.file_field :image %></span> 
  </label>
  <%= form.hidden_field :image_cache %>
  
  <%= form.submit class: 'button' %>
  
<% end %>

<%= link_to 'back', user_path, class: 'button' %>
</div>
